<!DOCTYPE html>
<html>
 <title>WiFi安全检测系统</title>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/scan.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/main.css')}}">
  </head>

  <body class="main-body">
    <header class="navbar navbar-default navbar-fixed-top bs-docs-nav" role="banner">
      <div class="container">
        <div class="navbar-header">
          
        </div>
      </div>
    </header>
    <div class="index_div">
        <h1 class="title"><strong>WiFi与服务器安全检测系统</strong></h1>
    </div>

    <div class="index_div">
        <a type="button" class="btn btn-info btn-lg index_button" href="/wifi">WiFi安全检测</a>
    </div>
    <div class="index_div">
        <a type="button" class="btn btn-warning btn-lg index_button" href="/server">服务器安全监测</a>
    </div>

  </body>

  <footer>
     <!-- jquery的引入必须放在所有脚本引入之前 -->
     <script src="../static/js/jquery-2.2.3.min.js"></script>
     <script src="{{static_url('js/bootstrap.min.js')}}"></script>
     <script src="../static/js/main.js"></script>
  </footer>
</html>